.root{
}
.anchroPane{
    -fx-background-color: linear-gradient(#AE2121,#0F6668 60%);
    -fx-opacity: 0.75;
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
}

.anchroPane1{
    -fx-background-color: #1F2127;
    opacity:0.9;
}
.anchorPane2{
    -fx-background-color: linear-gradient(#1F2127,#0F6668 60%);
}

.title{
    -fx-fill: #AE2121;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

.title1{
    -fx-fill: #BBC2CB;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
}

.text{
    -fx-fill: #F1E9D7;
    -fx-font-size: 15px;
}

.textField{
    -fx-min-height:30px;
    -fx-min-width: 200px;
}

/* Les buttons */
.button{
    -fx-min-width: 150px;
    -fx-min-height: 30px;
    -fx-cursor: hand;
    -fx-text-fill: white;
    -fx-background-color: linear-gradient(#FF3300,#140F2D);

}

.button:hover{
    -fx-translate-z: 2px;
    -fx-background-color: linear-gradient(white,#140F2D);
    -fx-font-weight: bold;
}

.radioB{
    -fx-text-fill: white;
    -fx-cursor: hand;
}

/* label */
.resultL{
    -fx-text-fill: #F1E9D7;
}

/* Background de splashscreen */
.splash{
    -fx-background-image: url("./image/load.gif");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
}